
@{
    ViewData["Title"] = "cadastro";
}
@model Serie
<h1>cadastro</h1>

<form class="form" asp-action="Cadastrar" asp-controller="Serie">
   
    <partial name="_formulario" />

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Cadastrar</button>
        <a asp-controller="Serie" asp-action="Listar" class="btn btn-primary" type="submit">Listar</a>

    </div>

</form>

