
@{
    ViewData["Title"] = "Editar";
}
@model Serie
<h1>Editar</h1>

<form class="form" asp-action="editar" asp-controller="Serie" method="post">
    <input asp-for="SerieId" />
    
    <partial name="_formulario" />

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Atualizar</button>

        <a asp-action="Listar" class="link">Cancelar</a>
    </div>
   

</form>