
@model Condominio

@{
    ViewData["Title"] = "Cadastrar";
}


<h1>Cadastrar</h1>

<form class="form" asp-action="Cadastrar" asp-controller="Condominio" >
   
    <partial name="_formulario" />

    <div class="form-group">
        <input type="submit" />

    </div>




</form>
